node_modules
.env

# Foundry files
forge-build

# Hardhat files
/cache
/artifacts

#foundry files
/forge-build
# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
